<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mr-2" *ngIf="!conectado">
        <input type="text" [(ngModel)]="message.username" class="form-control" placeholder="Tu username..." name="username">
      </li>

      <li class="nav-item mr-2">
        <button class="btn btn-success" type="button" (click)="conectar()" *ngIf="!conectado" [disabled] = "!message.username">Conectar</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-warning" type="button" (click)="desconectar()" *ngIf="conectado">Cerrar chat</button>
      </li>
    </ul>
  </div>

  <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height: 360px;" *ngIf="conectado">
    <ul class="list-group list-group-flush ">
      <li class="list-group-item list-group-item-light" *ngFor="let mensaje of messages">
        <span *ngIf="mensaje.tipo == 'NUEVO_USUARIO'">{{ mensaje.date | date:'shortTime'}} @ {{ mensaje.text }} <span [ngStyle]="{'color': mensaje.color}">{{ mensaje.username }}</span></span>
        <span *ngIf="mensaje.tipo == 'MENSAJE'">{{ mensaje.date | date:'shortTime'}} <span [ngStyle]="{'color': mensaje.color}">{{ mensaje.username }}</span> dice:<br> {{ mensaje.text }}</span>
      </li>
    </ul>

  </div>

  <div class="card-footer" *ngIf="conectado">
    <form  class="form-line">
      <div class="form-group mx-3">
        <input type="text" [(ngModel)]="message.text" class="form-control" placeholder="Escribe un mensaje..." name="texto"
        (keyup)="escribiendoEvento()">
      </div>
      <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">Enviar</button>
    </form>
    <div>{{ escribiendo }}</div>
  </div>
</div>
